.idea
__pycache__/*
out/*
*/*/.vscode/*
build/*/*
build/*
*/*.c
*/*.so
*/__pycache__/*
*/*/*.c
*/*/*.so
*/*/__pycache__/*
*/*/*/*.so
*/*/*/*.c
*/*/*/__pycache__/*
*/*/*.cpp
MetaSanity/Annotation/FunctionalProfileReader/reader.cpp
!*/*/*_cpp.cpp
quick.py
*.bam
*.sam
*.faa
TARA*
*/*/*/.vscode
*/*/*/target
